<md-toolbar layout="row" layout-align="end center" >
    <md-button class="md-icon-button" ng-click="toggleSidenav()">
        <md-icon>menu</md-icon>
    </md-button>
    <i class="fas fa-sun fa-2x mr-2"></i>
    <span flex>&nbsp;&nbsp;Engenhoca Dorminhoca </span>

    <md-menu-bar>
        <md-menu md-position-mode="left bottom">
            <md-list-item class="" ng-click="$mdOpenMenu()"
                       aria-label="User settings">
                <p><i class="material-icons 48px">directions_bike</i>&nbsp;&nbsp;O Superusuário</p>
            </md-list-item>

            <md-menu-content width="3">
                <md-menu-item class="md-indent" ui-sref="app.pages_profile">
                    <md-icon>group</md-icon>
                    <md-button>Hell Is Other People</md-button>
                </md-menu-item>

                <md-menu-item class="md-indent">
                    <md-icon>beach_access</md-icon>
                    <md-button ng-click="vm.logout()">Mongo Bongo</md-button>
                </md-menu-item>

                <md-menu-item class="md-indent">
                    <md-icon>all_inclusive</md-icon>
                    <md-button ng-click="vm.logout()">Decisions Decisions</md-button>
                </md-menu-item>

                <md-menu-item class="md-indent">
                    <md-icon>beach_access</md-icon>
                    <md-button ng-click="vm.logout()">Options and Swaptions</md-button>
                </md-menu-item>


                <md-menu-item class="md-indent">
                    <md-icon>local_bar</md-icon>
                    <md-button ng-click="vm.logout()">Duck Dodgers</md-button>
                </md-menu-item>


                <md-menu-item class="md-indent">
                    <md-icon>restaurant</md-icon>
                    <md-button ng-click="vm.logout()">Sancho Panza</md-button>
                </md-menu-item>

            </md-menu-content>
        </md-menu>
    </md-menu-bar>

</md-toolbar>
