<md-content layout="row" layout-sm="column" layout-wrap layout-align="center center">

    <md-button class="md-fab md-warn fixed-to-bottom-btn" aria-label="Add">
        <md-icon>beach_access</md-icon>
    </md-button>

    <md-card flex="100" flex-gt-sm="45" layout-margin>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Angularchy</span>
                <span class="md-subhead">AngularJS Material Boilerplate by Muhammad</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media">
                    <img src="images/anarchy.svg" alt="">
                </div>
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-accent" ui-sref="Projects({id: 'abc'})">View</md-button>
            <md-button class="md-raised md-primary">Update</md-button>
        </md-card-actions>
    </md-card>

    <md-card  flex="100" flex-gt-sm="45" layout-margin>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Angularchy</span>
                <span class="md-subhead">AngularJS Material Boilerplate by Muhammad</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media">
                    <img src="images/anarchy.svg" alt="">
                </div>
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-accent" ui-sref="Projects({id: 'abc'})">View</md-button>
            <md-button class="md-raised md-primary">Update</md-button>
        </md-card-actions>
    </md-card>

    <md-card  flex="100" flex-gt-sm="45" layout-margin>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Angularchy</span>
                <span class="md-subhead">AngularJS Material Boilerplate by Muhammad</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media">
                    <img src="images/anarchy.svg" alt="">
                </div>
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-accent" ui-sref="Projects({id: 'abc'})">View</md-button>
            <md-button class="md-raised md-primary">Update</md-button>
        </md-card-actions>
    </md-card>

    <md-card  flex="100" flex-gt-sm="45" layout-margin>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Angularchy</span>
                <span class="md-subhead">AngularJS Material Boilerplate by Muhammad</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media">
                    <img src="images/anarchy.svg" alt="">
                </div>
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-accent" ui-sref="Projects({id: 'abc'})">View</md-button>
            <md-button class="md-raised md-primary">Update</md-button>
        </md-card-actions>
    </md-card>

    <md-card  flex="100" flex-gt-sm="45" layout-margin>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Angularchy</span>
                <span class="md-subhead">AngularJS Material Boilerplate by Muhammad</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media">
                    <img src="images/anarchy.svg" alt="">
                </div>
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-accent" ui-sref="Projects({id: 'abc'})">View</md-button>
            <md-button class="md-raised md-primary">Update</md-button>
        </md-card-actions>
    </md-card>

    <md-card  flex="100" flex-gt-sm="45" layout-margin>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Angularchy</span>
                <span class="md-subhead">AngularJS Material Boilerplate by Muhammad</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media">
                    <img src="images/anarchy.svg" alt="">
                </div>
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-accent" ui-sref="Projects({id: 'abc'})">View</md-button>
            <md-button class="md-raised md-primary">Update</md-button>
        </md-card-actions>
    </md-card>

</md-content>
