<md-content layout-xs="column" layout="row" layout-align-gt-xs="center start">

    <div flex-xs flex flex-gt-xs="50" layout="column">

        <md-card flex layout-margin>
            <md-card-title class="cd-bkg-warn cd-text-white cd-margin-0">
                <md-card-title-text>
                    <span class="md-headline">
                        Project Details
                        <md-icon class="cd-text-white" style="float: right;">info_outline</md-icon>
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-list>
                    <md-list-item>
                        Title:
                    </md-list-item>
                    <md-list-item>
                        Status:
                    </md-list-item>
                    <md-list-item>
                        Development Url:
                    </md-list-item>
                    <md-list-item>
                        Production Url:
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>

        <md-card flex layout-margin>
            <md-card-title class="cd-bkg-warn cd-text-white cd-margin-0">
                <md-card-title-text>
                    <span class="md-headline">
                        Development Team
                        <md-icon class="cd-text-white" style="float: right;">group</md-icon>
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-list>
                    <md-list-item>
                        Shahnawaz Ali
                    </md-list-item>
                    <md-list-item>
                        Alveena Sohail
                    </md-list-item>
                    <md-list-item>
                        Minhaj
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>

    </div>

    <div flex="100" flex-gt-xs="50" layout="column">

        <md-card flex layout-margin>
            <md-card-title class="cd-bkg-warn cd-text-white cd-margin-0">
                <md-card-title-text>
                    <span class="md-headline">
                        Collections
                        <md-icon class="cd-text-white" style="float: right;">layers</md-icon>
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-list>
                    <md-list-item ui-sref="ProjectsCollections">
                        Users
                        <span class="cd-badge cd-badge-orange cd-badge-right">10</span>
                    </md-list-item>
                    <md-list-item ui-sref="ProjectsCollections">
                        Orders
                        <span class="cd-badge cd-badge-orange cd-badge-right">0</span>
                    </md-list-item>
                    <md-list-item ui-sref="ProjectsCollections">
                        User Details
                        <span class="cd-badge cd-badge-orange cd-badge-right">8</span>
                    </md-list-item>
                    <md-list-item ui-sref="ProjectsCollections">
                        Users
                        <span class="cd-badge cd-badge-orange cd-badge-right">20</span>
                    </md-list-item>
                    <md-list-item ui-sref="ProjectsCollections">
                        Orders
                        <span class="cd-badge cd-badge-orange cd-badge-right">4</span>
                    </md-list-item>
                    <md-list-item ui-sref="ProjectsCollections">
                        User Details
                        <span class="cd-badge cd-badge-orange cd-badge-right">1</span>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>

        <md-card flex layout-margin>
            <md-card-title class="cd-bkg-warn cd-text-white cd-margin-0">
                <md-card-title-text>
                    <span class="md-headline">
                        Client Details
                        <md-icon class="cd-text-white" style="float: right;">perm_identity</md-icon>
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-list>
                    <md-list-item>
                        Name:
                    </md-list-item>
                    <md-list-item>
                        Company:
                    </md-list-item>
                    <md-list-item>
                        NDA:
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>

    </div>

</md-content>