<md-content layout-xs="column" layout="row" layout-align-gt-xs="center start">

    <div flex-xs flex flex-gt-xs="50" layout="column">

        <md-card flex layout-margin>
            <md-card-title class="cd-bkg-bluegrey-light cd-text-white cd-margin-0">
                <md-card-title-text>
                    <span class="md-headline">
                        Project Details
                        <md-icon class="cd-text-white" style="float: right;">all_inclusive</md-icon>
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-list>
                    <md-list-item>
                        Title
                    </md-list-item>
                    <md-list-item>
                        Status
                    </md-list-item>
                    <md-list-item>
                        Development URL
                    </md-list-item>
                    <md-list-item>
                        Production URL
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>

        <md-card flex layout-margin>
            <md-card-title class="cd-bkg-bluegrey-light cd-text-white cd-margin-0">
                <md-card-title-text>
                    <span class="md-headline">
                        Development Team
                        <i class="cd-text-white fas fa-cannabis fa-lg" style="float: right;"></i>
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-list>
                    <md-list-item>
                        Shahnawaz Ali
                    </md-list-item>
                    <md-list-item>
                        Alveena Sohail
                    </md-list-item>
                    <md-list-item>
                        Sheikh Yerbouti 
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>

    </div>

    <div flex="100" flex-gt-xs="50" layout="column">

        <md-card flex layout-margin>
            <md-card-title class="cd-bkg-bluegrey-light cd-text-white cd-margin-0">
                <md-card-title-text>
                    <span class="md-headline">
                        Collections
                        <md-icon class="cd-text-white" style="float: right;">directions_bike</md-icon>
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-list>
                    <md-list-item ui-sref="ProjectsCollections">
                        Users
                        <span class="cd-badge cd-badge-orange cd-badge-right">10</span>
                    </md-list-item>
                    <md-list-item ui-sref="ProjectsCollections">
                        Orders
                        <span class="cd-badge cd-badge-orange cd-badge-right">0</span>
                    </md-list-item>
                    <md-list-item ui-sref="ProjectsCollections">
                        User Details
                        <span class="cd-badge cd-badge-orange cd-badge-right">8</span>
                    </md-list-item>
                    <md-list-item ui-sref="ProjectsCollections">
                        Users
                        <span class="cd-badge cd-badge-orange cd-badge-right">20</span>
                    </md-list-item>
                    <md-list-item ui-sref="ProjectsCollections">
                        Orders
                        <span class="cd-badge cd-badge-orange cd-badge-right">4</span>
                    </md-list-item>
                    <md-list-item ui-sref="ProjectsCollections">
                        User Details
                        <span class="cd-badge cd-badge-orange cd-badge-right">1</span>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>

        <md-card flex layout-margin>
            <md-card-title class="cd-bkg-bluegrey-light cd-text-white cd-margin-0">
                <md-card-title-text>
                    <span class="md-headline">
                        Client Details
                        <i class="cd-text-white fas fa-sun fa-lg" style="float: right;"></i>
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-list>
                    <md-list-item>
                        Name
                    </md-list-item>
                    <md-list-item>
                        Company
                    </md-list-item>
                    <md-list-item>
                        NDA
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>

    </div>

</md-content>
