<md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-whiteframe="4"
>
    <md-toolbar  layout="column" layout-align="center center" layout-padding>
        <img src="images/white-alchemy-sulphuric.svg" alt="Angular Molecules" class="logo cursor-pointer" ui-sref="Landing" style="margin-top: 10px">
        <h1 class="md-headline cursor-pointer" ui-sref="Landing" style="margin-bottom: 10px;">Engenho Novo LLC</h1>
    </md-toolbar>

    <md-sidemenu>

        <md-sidemenu-group>
            <md-subheader class="md-no-sticky">Navigation</md-subheader>

            <md-sidemenu-button href="#" ui-sref="Landing">
                <md-icon style="margin: 0; margin-right: 32px;">waves</md-icon>
                Ondas Iradas ao Gogo
            </md-sidemenu-button>

            <md-sidemenu-content md-icon="apps" md-heading="The Forbin Project" md-arrow="true">
                <md-sidemenu-button href="#">Skynet</md-sidemenu-button>
                <md-sidemenu-button href="#">HAL 9000</md-sidemenu-button>
                <md-sidemenu-button href="#">Arnim Zola</md-sidemenu-button>
                <md-sidemenu-button href="#">Colossus</md-sidemenu-button>
                <md-sidemenu-button href="#">Deep Blue</md-sidemenu-button>
            </md-sidemenu-content>

            <md-sidemenu-button href="#">
                <md-icon style="margin: 0; margin-right: 32px;">rowing</md-icon>
                Developers
            </md-sidemenu-button>

        </md-sidemenu-group>

    </md-sidemenu>

    <md-content layout-padding>

    </md-content>

</md-sidenav>
